.auth-page{
    background-image: url(~img/auth-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 85%;
    flex-grow: 1;
    // min-height: 750px;
}